<div class="container">
    <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved by <a href="{% url 'pages:home' %}">DjDocker</a>.
    </p>
</div>