<nav class="navbar navbar-expand-sm bg-primary sticky-top navbar-dark">
    <a href="{% url 'pages:home'%}" class="navbar-brand">DjDocker</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" class="collapsibleNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'pages:home'%}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pages:about'%}">About</a></li>
        </ul>
    </div>
</nav>