{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% endif %}  
        {% endblock title %}
            
    </title>
</head>
<body>
    <div class="site">
        <div class="site-header">
            {% include 'partials/_nav.html' %}
        </div>
        <main class="site-content">
            <div class="container">
                {% block content %}
                    
                {% endblock content %}  
            </div>
        </main>
        <footer class="site-footer bg-primary">
            {% include 'partials/_footer.html' %}
        </footer>
    </div>
    {% block script %}
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% endblock script %}
</body>
</html>