*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.site-header{
    margin: 0;
    text-align: center;
    width: 100%;
    height: 10vh;
    font-size: 24px;
}

.site-content {
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    padding: 40px 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.site-footer {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 10vh;
}